$text-color: white;
$sqr-box-size: 260px;

#app-box-wrapper, #root, html {
  display: flex;
  height: 100%;;
  width: 100%;
  margin: 0px;
  background-color: grey;
  color: $text-color;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

#app-box {
  display: block;
  height: 490px;
}

#app-label {
  width: 100%;
  background-color: #6f5fa3;
  font-family: 'Indie Flower', cursive;
}

.spacer {
  display: inline-block;
  width: 14%;
  margin: 0px;
  font-size: 1.6rem;
}

#spacer-left {
  vertical-align: top;
  padding-top: 12px;
}

#title-area {
  display: inline-block;
  width: 70%;
}

h3 {
  font-size: 1.8rem;
  text-align: center;
  height: 50px;
  line-height: 70px;
  padding: 0px;
  margin: 0px;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: .8rem;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 3px;
}

#app-box {
  padding: 0px;
  width: 400px;
  background-color: #333;
}

.timer-box {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  width: $sqr-box-size;
  height: $sqr-box-size;
  border-style: solid;
  border-width: 0px;
  margin-top: 0px;
  background-image: url(../images/tomato.png);
  background-repeat: no-repeat;
}

#timer-content {
  padding-top: 45%;
  margin-left: -15px;
}

#timer-label {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  padding-left: 8px;
}

#pomodoro-box {
  height: 389px;
}

#settings-box {
  height: 389px
}

#time-left {
  font-size: 2rem;
  text-align: center;
  width: 100%;
  padding-left: 9px;
}

#settings {
  display: flex;  
  margin-top: 20px;
}

#settings-box h5 {
  margin-bottom: 10px;
  margin-top: 15px;
}

#settings-box p {
  display: flex;
  font-size: .6rem;
  color: white;
  text-align: left;
  padding: 0 30px;
  justify-content: left;
}

#beep-selections {
  display: flex;
  font-size: .6rem;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 30px;
  padding-top: 10px;
  margin-bottom: 2px;
}

.label-text {
  text-align: left;
  padding-left: 10px;
}

.check-box-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 8px;
  padding-left: 20px;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: flex;
  background-color: #e5001f;
  font-size: .6rem;
  height: 13px;
  line-height: .6rem;
  width: 13px;
  margin-left: 10px;
  margin-top: 4px;
}

input[type=checkbox] + label {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

input[type=checkbox]:checked + label {
  background-color: #47843f;
}

input[type=checkbox] + label:before,
input[type=checkbox] + label:after{
  display: flex;
  padding-left: 20px;
}

input[type=checkbox] + label:before {
  content: attr(data-text-true);
}

input[type=checkbox] + label:after {
  content: attr(data-text-false);
}

.label-text {
  margin-top: 4px;
}

.play-button {
  font-size: 1rem;
}

.length-control {
  width: 50%;
  font-size: .8rem;
}

.setting-row {
  display: flex;
  padding: 5px 34%;
}

#break-length, #session-length {
  padding: 0 8px
}

i {
  padding-top: 2px
}

.timer-control, .bottom-bar {
  display: flex;
  height: 50px;
  padding-top: 0px;
  background-color: #47843f;
}

.bottom-bar {
  margin-top: 20px;
  height: 50px;
}

#start_stop, #reset {
  padding: 10px 5px;
  width: 50%;
  padding-top: 10px;
  font-size: 1.2rem;
}

#start_stop {
  text-align: right;
  padding-top: 8px;
  font-size: 1.5rem;
}

.toggle-visible {
  display: inline;
}

.toggle-hidden {
  display: none;
}

.page-visible {
  display: block;
}

.page-hidden {
  display: none;
}

#reset {
  text-align: left;
}
.reset-icon {
  margin-left: 12px;
}

.hover-icon:hover {
  color: grey;
}
